@mixin item_news() {
    .item {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 32px;
        line-height: 1.4;
        transition: all .5s ease;

        @include mobile {
            width: 60vw;
            min-width: 60vw;

            .post-type-archive & {
                width: auto;
                max-width: 100%;
            }
        }

        .category-link,
        .category {
            &::before {
                content: "\e904";
                font-size: 24px;
                color: var(--color_khaki);
                position: relative;
                top: -2px;
            }
        }

        &.item-shedule {

            .category-link,
            .category {
                &::before {
                    content: "\e905";
                }
            }
        }

        .image {
            display: block;
            line-height: 0;

            img {
                width: 100%;
                display: block;
                object-fit: cover;
                aspect-ratio: 256 / 195;
            }
        }

        .title {
            line-height: 1.1;
            margin: 0;

            a {
                display: block;
                font-size: 18px;
                color: var(--color_link);

                @include mobile {
                    font-size: 24px;
                }

                &:hover {
                    color: var(--color_primary);
                }
            }
        }

        .meta {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            font-weight: 400;

            span,
            a {
                color: var(--color_black);
                display: inline-block;

                &.category-link,
                &.category {
                    text-transform: uppercase;
                    letter-spacing: 1.4px;
                    font-size: 12px;
                    font-weight: 700;
                    display: inline-flex;
                    align-items: center;
                    line-height: 1;
                    gap: 8px;
                }
            }

            a {
                &:hover {
                    color: var(--color_primary);
                }
            }

            .date {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 10px;
                letter-spacing: -0.53px;

                &::before {
                    content: '';
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, .4);
                }
            }
        }

        .excerpt {
            font-size: 16px;
            opacity: .6;

            @include mobile {
                font-size: 14px;
            }
        }

        .item-footer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-top: 10px;

            @include mobile {
                .post-type-archive & {
                    display: none !important;
                }
            }
        }

        .more-link {
            align-self: flex-start;
        }
    }
}

@mixin item_program() {
    .item {
        padding: 40px 32px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        gap: 16px;
        line-height: 1.4;
        transition: all .5s ease;

        @include mobile {
            width: 60vw;
            min-width: 60vw;
            padding-left: 16px;
            padding-right: 16px;

            .page-template-programs & {
                width: auto;
                max-width: 100%;
            }
        }

        &:hover {
            @include desktop {
                box-shadow: 0px 8px 18px -6px rgba(0, 0, 0, 0.12), 0px 12px 42px -4px rgba(0, 0, 0, 0.12);

                .image {
                    transform: scale(1.2);
                }
            }
        }

        &.pending {
            justify-content: center;
            
            .item-footer {
                display: none !important;
            }
        }

        .image {
            margin-bottom: 50px;
            align-self: flex-start;
            transform: scale(1);
            transition: all 2s var(--cubic_bezier);
            display: block;
            line-height: 0;

            @include mobile {
                margin-bottom: 32px;
            }

            img,
            svg {
                height: 56px;
                width: 56px;
                min-width: 56px;
            }
        }
        
        .title {
            line-height: 1.1;
            margin: 0;

            span,
            a {
                display: block;
                font-size: 28px;
                color: var(--color_link);

                @include mobile {
                    font-size: 24px;
                }

                &:hover {
                    color: var(--color_primary);
                }
            }
        }

        .excerpt {
            font-size: 15px;
            opacity: .6;

            @include mobile {
                font-size: 14px;
            }
        }

        .item-footer {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-top: 70px;

            .show-more-link {
                color: var(--color_primary);

                &:hover {
                    color: var(--color_black);
                }
            }

            @include mobile {
                margin-top: 32px;
            }
        }
    }
}