@import 'icons';

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin max1024 {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin min1024 {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tablet-p {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin tablet-l {
    @media (min-width: 1025px) and (max-width: 1200px) {
        @content;
    }
}

@mixin min1200 {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin max1200 {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin max1400 {
    @media (max-width: 1400px) {
        @content;
    }
}

@mixin min1260 {
    @media (min-width: 1260px) {
        @content;
    }
}

@mixin max320 {
    @media (max-width: 320px) {
        @content;
    }
}

@mixin container() {
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

@mixin checkbox() {

	input[type="checkbox"] {
        display: none;
    
        +span:not(.optional),
        +label {
            display: block;
            cursor: pointer;
            user-select: none;
            text-align: left;
            margin: 0;
            color: var(--color_black);
            position: relative;
            padding-left: calc(12px + var(--gap_s));
            line-height: 1.1;
    
            a {
                color: var(--color_black);
    
                &:hover {
                    color: var(--color_primary);
                }
            }
    
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: -1.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                min-width: 16px;
                height: 16px;
                border-radius: 2px;
                border: 1px solid var(--color_secondary);
                transition: .3s ease;
                color: var(--color_white);
                font-size: 0px;
                text-indent: -1px;

                font-family: 'mib' !important;
                speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
    
            &:hover {
                &::before {
                    border-color: var(--color_primary);
                }
            }
        }
    
        &:checked {
    
            +span:not(.optional),
            +label {
    
                &:before {
                    content: "\e911";
                    background-color: var(--color_secondary);
                    border-color: var(--color_secondary);
                    color: var(--color_white);
                    font-size: 16px;
                    text-indent: 0.5px;
                }
            }
        }
    }
}

@mixin input() {
    font-size: 14px;
    font-weight: 400;
    color: var(--color_black);
    background-color: var(--color_white);
    border-radius: var(--radius);
    border: 1px solid var(--color_white);
    line-height: 1;
    height: 48px;
    width: 100%;
    display: block;
    font-family: var(--font);
    padding: 15px 22px;
    transition: all .5s ease;
    font-size: 14px;

    &:hover,
    &:focus {
        border-color: var(--color_primary);
    }

    &::placeholder {
        color: var(--color_grey_3);
        font-family: var(--font);
        font-weight: 400;
        font-size: 14px;
    }
}

@mixin button() {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 18.65px 40px;
    gap: 10px;
    background: var(--color_primary);
    border-radius: var(--radius);
    user-select: none;
    border: 1px solid var(--color_primary);
    color: var(--color_white);
    cursor: pointer;
    transition: all .3s ease;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 500;

    span {
        line-height: 1;
    }

    &::after {
        content: "\e90a";
    }

    &::before {
        position: relative;
        margin: -2px 0;
    }

    &:focus,
    &:hover {
        background-color: var(--color_primary_2);
        border-color: var(--color_primary_2);
        color: var(--color_white);
    }

    &[disabled],
    .disabled {
        background-color: var(--color_grey) !important;
        color: var(--color_secondary) !important;

        &::after {
            color: var(--color_white) !important;
        }
    }
}

@mixin person() {
    .item {
        display: grid;
        grid-template-columns: 96px 1fr;
        gap: 24px;

        .image {
            @include desktop {
                align-items: center;
                grid-row: span 2;
            }

            img {
                display: block;
                border-radius: 50%;
                width: 96px;
                min-width: 96px;
                height: 96px;
                object-fit: cover;
                aspect-ratio: 1;
            }
        }

        .heading {
            display: flex;
            align-items: center;
            gap: 32px;

            @include mobile {
                flex-direction: column;
                align-items: flex-start;
            }

            .title {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .name {
                    font-size: 18px;
                    font-weight: bold;
                    border-left: 6px solid var(--color_primary);
                    padding-left: 16px;
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    a {
                        color: var(--color_secondary);
                        
                        &:hover {
                            color: var(--color_primary);
                        }
                    }
                }

                .position {
                    font-size: 15px;
                    opacity: .4;
                    padding-left: 22px;
                }
            }

            .logo {
                svg,
                img {
                    display: block;
                    height: auto;
                    width: 100%;
                    max-width: 100px;
                }

                @include mobile {
                    padding-left: 22px;
                }
            }
        }

        .item-footer {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            grid-column: span 2;

            .completed {
                @include desktop {
                    padding-left: 120px;
                    flex-direction: row;
                    align-items: center;
                    gap: 16px;
                }
            }

            .label {
                font-size: 14px;
            }
        }

        .quote {
            background-color: var(--color_khaki_2);
            padding: 32px;
            display: flex;
            gap: 28px;
            font-size: 15px;
            line-height: 1.5;

            @include mobile {
                grid-column: span 2;
            }

            &::before {
                content: "\e90b";
                font-size: 18px;
            }
        }

        &.item-teachers {
            .completed {
                display: none !important;
            }

            .heading {
                margin-top: 16px;
            }

            .item-footer {
                grid-column: unset;

                @include desktop {
                    padding-left: 22px;
                }
            }
        }
    }
}

@mixin persons() {
    .items {

        &.owl-carousel {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 40px;

            .owl-stage-outer {
                grid-column: span 2;
            }

            .item {
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                padding-bottom: 32px;
            }
        }

        &:not(.owl-carousel) {
            display: flex;
            flex-direction: column;

            .item {
                padding-top: 32px;
                padding-bottom: 32px;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                }

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }

        @include person;
    }
}

@mixin search_form() {
    .search-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 746px;
        margin: 0 auto;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        padding-bottom: 15px;
        position: relative;

        @include max1024 {
            @include container;
            border: 0;
            padding-bottom: 0;
        }

        > * {
            flex: 1;
        }

        .search-field {
            width: 100%;
            border: 0;
            font-size: 32px;
            font-weight: 500;
            background-color: transparent;
            padding: 0 35px 0 0;
            height: auto;

            @include max1024 {
                font-size: 20px;
            }

            &::placeholder {
                color: var(--color_grey_2);
                opacity: .4;
                font-weight: 500;
                font-size: 32px;

                @include max1024 {
                    font-size: 20px;
                }
            }
        }
        
        .search-submit {
            display: none !important;
        }
    }
}

@mixin ul_list() {
    ul {
        list-style: none;
        padding: 0;

        li {
            position: relative;
            padding-left: 22px;

            &::before {
                display: block;
                content: "";
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 6px solid var(--color_primary);
                border-right: 0;
                position: absolute;
                top: 6px;
                left: 0;
                border-radius: 0;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

@mixin accreditaion_item() {
    .item {
        padding: 30px 32px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        gap: 16px;
        line-height: 1.4;
        transition: all .5s ease;

        * {
            transition: all .5s ease;
        }

        @include mobile {
            width: 60vw;
            min-width: 60vw;
            padding-left: 16px;
            padding-right: 16px;
        }

        &:hover {
            @include desktop {
                box-shadow: 0px 8px 18px -6px rgba(0, 0, 0, 0.12), 0px 12px 42px -4px rgba(0, 0, 0, 0.12);
            }
        }

        &.pending {
            justify-content: flex-end;

            .title {
                span {
                    color: var(--color_black);

                    &:hover {
                        color: var(--color_black);
                    }
                }
            }

            .item-footer {
                display: none !important;
            }
        }

        .image {
            margin-bottom: 135px;
            align-self: flex-start;
            transition: all 2s var(--cubic_bezier);
            display: block;
            line-height: 0;
            flex: 1;

            @include mobile {
                margin-bottom: 32px;
            }

            img,
            svg {
                height: 42px;
                width: auto;
                min-width: 100%;
            }
        }
        
        .title {
            line-height: 1.1;
            margin: 0;

            span,
            a {
                display: block;
                font-size: 24px;
                color: var(--color_link);

                @include mobile {
                    font-size: 24px;
                }

                &:hover {
                    color: var(--color_primary);
                }
            }
        }

        .excerpt {
            font-size: 15px;
            opacity: .6;

            @include mobile {
                font-size: 14px;
            }
        }

        .item-footer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-top: 18px;
        }
    }
}