@import 'icons';

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin max1024 {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin min1024 {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tablet-p {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin tablet-l {
    @media (min-width: 1025px) and (max-width: 1200px) {
        @content;
    }
}

@mixin min1200 {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin max1200 {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin max1400 {
    @media (max-width: 1400px) {
        @content;
    }
}

@mixin min1260 {
    @media (min-width: 1260px) {
        @content;
    }
}

@mixin max320 {
    @media (max-width: 320px) {
        @content;
    }
}

@mixin container() {
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

@mixin checkbox() {

	input[type="checkbox"] {
        display: none;
    
        +span:not(.optional),
        +label {
            display: block;
            cursor: pointer;
            user-select: none;
            text-align: left;
            margin: 0;
            color: var(--color_black);
            position: relative;
            padding-left: calc(12px + var(--gap_s));
            line-height: 1.1;
    
            a {
                color: var(--color_black);
    
                &:hover {
                    color: var(--color_primary);
                }
            }
    
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: -1.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                min-width: 16px;
                height: 16px;
                border-radius: 2px;
                border: 1px solid var(--color_secondary);
                transition: .3s ease;
                color: var(--color_white);
                font-size: 0px;
                text-indent: -1px;

                font-family: 'mib' !important;
                speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
    
            &:hover {
                &::before {
                    border-color: var(--color_primary);
                }
            }
        }
    
        &:checked {
    
            +span:not(.optional),
            +label {
    
                &:before {
                    content: "\e911";
                    background-color: var(--color_secondary);
                    border-color: var(--color_secondary);
                    color: var(--color_white);
                    font-size: 16px;
                    text-indent: 0.5px;
                }
            }
        }
    }
}

@mixin input() {
    font-size: 14px;
    font-weight: 400;
    color: var(--color_black);
    background-color: var(--color_white);
    border-radius: var(--radius);
    border: 1px solid var(--color_white);
    line-height: 1;
    height: 48px;
    width: 100%;
    display: block;
    font-family: var(--font);
    padding: 15px 22px;
    transition: all .5s ease;
    font-size: 14px;

    &:hover,
    &:focus {
        border-color: var(--color_primary);
    }

    &::placeholder {
        color: var(--color_grey_3);
        font-family: var(--font);
        font-weight: 400;
        font-size: 14px;
    }
}

@mixin button() {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 18.65px 40px;
    gap: 10px;
    background: var(--color_primary);
    border-radius: var(--radius);
    user-select: none;
    border: 1px solid var(--color_primary);
    color: var(--color_white);
    cursor: pointer;
    transition: all .3s ease;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 500;

    span {
        line-height: 1;
    }

    &::after {
        content: "\e90a";
    }

    &:focus,
    &:hover {
        background-color: var(--color_primary_2);
        border-color: var(--color_primary_2);
        color: var(--color_white);
    }

    &[disabled],
    .disabled {
        background-color: var(--color_grey) !important;
        color: var(--color_secondary) !important;

        &::after {
            color: var(--color_white) !important;
        }
    }
}